@page
@model razorsignalr_newsmng.Pages.UnauthorizedModel
@{
}

<h3>
	Unauthorized
</h3>
<form method="post">
	<button asp-page-handler="BackToLogin" class="btn btn-primary">
		Back to login
	</button>
</form>